<!DOCTYPE html>
<html>
  <body>
    <div class="site">

    <div class="content" id="home">
      <div id="post-info">
        <div id="info-container">
          <div class="post">
          <h1>Blog Posts Sorted By Category</h1>
          {% assign sorted_categories = site.categories | sort {|left, right| left[0] <=> right[0]} %}
          {% for tag in sorted_categories %}
            <h1 id="{{ tag[0] }}">{{ tag[0] | capitalize }}</h1>
            <ul class="post-list">
              {% assign pages_list = tag[1] %}
                {% for post in pages_list %}
                {% if post.title != null %}
                {% if group == null or group == post.group %}
                  <li><a href="{{ site.url }}{{ post.url }}">
                    <span class="date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></span>
                    &bull;
                    {{ post.title }}
                  </a></li>
                {% endif %}
                {% endif %}
                {% endfor %}
            {% assign pages_list = nil %}
            {% assign group = nil %}
            </ul>
          {% endfor %}

        </div>
      </div>
    </div>
    </div>
    
        <!-- {{ content }} -->

    </div>
  </body>
</html>
