<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info">
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.cover }}">
    </div>
    <div id="info-container">
      <h1 id="title">{{ page.title }}</h1>
      <span id="date">{{ page.date | date_to_string }}</span>
      <!-- <br><br> -->
      <span> - </span>
      <i class="fa fa-book " aria-hidden="true"></i>
      <span id="read-time">
        {% assign words = content | number_of_words %}
        {% if words < 360 %}
          1 min
        {% else %}
        {{ words | divided_by:180 }} mins
        {% endif %}
        read     
      </span>
    </div>
  </div>

  <div class="post">
    {{ content }}
  </div>
  <div class="colophon">
    <p>
      <span id="pub-date">Published on {{ page.date | date_to_string }}</span> <span class="separator">&bull;</span>
      <span id="social">Find me on <a href="https://twitter.com/bebright89">Twitter</a>!</span>
    </p>
  </div>
</div>



